.container {
    margin: 2rem 8vw 2rem 8vw;
   

}


.wraper {
    height: 32vh;
    width: 86vw;
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
    
}
.wraper::-webkit-scrollbar {
    display: none;
}