.wraper {
    height: 82vh;
    width: 100vw;
    /* margin: 2rem 8vw 2rem 8vw; */
    overflow-x: hidden;
    background-color: rgb(94, 91, 91);
    color: white;
    
}


.container {
   
    display: flex;
    padding: 0 6rem;

    gap: 1.5rem;
   
    
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.message h2 {
    padding-top: 2rem ;

}
.underline {
    height: 0.2rem;
    width: 3.5rem;
    margin-top: 0.3rem;
    background-color: rgb(129, 243, 146);
}
.message p{
    padding: 2rem ;
}
.btn_container {
    margin-top: 2.8rem;
    display: flex;
    justify-content: center;
}
.btn {
    height: 2.6rem;
    width: 11rem;
    background-color: rgb(94, 91, 91);
    border: 1px solid white;
    border-radius: 0.1rem solid white;
    color: white;
}