.card {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 2rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 1.5rem;
    border-radius: 10px;
  }
  .card:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.25s ease-in-out;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff;
  }
  
  .price {
    text-align: left;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    color: #fff;
  }
  
  .desc {
    text-align: left;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.625;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists {
    text-align: left;
    margin-bottom: 1.5rem;
    flex: 1 1 0%;
    margin-left: -2.8rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists .list {
    text-align: left;
    margin-bottom: 0.5rem;
    display: flex;
    margin-left: 2.4rem;
  }
  
  .lists .list svg {
    text-align: left;
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    /* color: rgba(167, 139, 250, 1); */
    color: #9f0e0e;
  }
  
  .action {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.25rem;
    /* background-color: rgba(167, 139, 250, 1); */
    background-color: #9f0e0e;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: rgba(17, 24, 39, 1);
    cursor: pointer;
    color: white;
  }
  .priceSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 4rem;
    margin-top: 4rem;
  }
  
  .row {
    display: flex;
    margin-top: -4rem;
    width: 100%;
    height: 100%;
  }
  
  .leftUpperRow {
    margin-top: 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 50rem;
    gap: 2rem;
  }
  
  .rightupperRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 1rem;
  }
  
  .rightupperRow > h2 {
    color: #ef1b1b;
    font-weight: bold;
  }
  
  .rightupperRow > p {
    display: flex;
    align-items: flex-start;
  }
  
  .childText {
    color: #555555;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 5px;
    text-align: left !important;
  }
  
  .learnMore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e02021;
    width: 9rem;
    color: white;
    height: 3.2rem;
    border-radius: 10px;
    margin-top: 1rem;
    align-self: flex-start;
    border: none;
  }
  
  .learnMore:hover {
    cursor: pointer;
    background: rgb(0, 0, 3);
    background: linear-gradient(
      100deg,
      rgba(0, 0, 3, 1) 0%,
      rgba(133, 10, 21, 1) 35%
    );
  }
  
  @media only screen and (min-width: 600px) and (max-width: 1600px) {
    .priceSection {
      align-items: center;
    }
    .row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  
    /* .leftUpperRow {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } */
  
    .leftUpperRow,
    .rightupperRow {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
  
    .rightupperRow {
      align-items: center;
    }
  
    .rightupperRow > h2 {
      display: flex;
      align-items: flex-start;
      color: #ef1b1b;
      font-weight: bold;
    }
  }
  
  .month {
    color: #c61d1d;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 5px;
    text-align: left !important;
  }
  
  @media only screen and (min-width: 1601px) {
    .row {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  
    .leftUpperRow {
      width: 100vh;
    }
  
    .rightupperRow {
      width: 70vh;
    }
  }
  